<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.plugin.am"
    version="1.0.2">
    <name>am</name>
    <description>Sample PhoneGap am Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,am</keywords>

   <name>am</name>

   <description>
     This plugin allows to use native notification.
   </description>

  <engines>
    <engine name="cordova" version=">=1.7.0" />
    <engine name="cordova" version="<1.8.1" />
</engines>

<asset src="www/am.js" target="js/am.js" /> 
   <js-module src="www/am.js" name="am">
      <clobbers target="am" />
   </js-module>

   <!-- android -->
   <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
         <feature name="LocalNotification">
            <param name="android-package" value="com.plugin.am.LocalNotification" />
         </feature>
      </config-file>
	  
	<config-file target="AndroidManifest.xml" parent="/manifest/application"> 
       <receiver android:name="com.plugin.am.Receiver" />
	   <receiver android:name="com.plugin.am.Restore" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
		<activity android:name="com.plugin.am.ReceiverActivity" android:launchMode="singleInstance" />
	</config-file>
	 <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
     </config-file>
	 <lib-file src="libs/android/android-support-v4.jar" />
	<source-file src="src/Receiver.java"          target-dir="src/com/am" />
	<source-file src="src/Options.java"           target-dir="src/com/am" />
	<source-file src="src/Restore.java"           target-dir="src/com/am" />
	<source-file src="src/ReceiverActivity.java"  target-dir="src/com/am" />
	 <source-file src="src/LocalNotification.java" target-dir="src/com/am" />
     
   </platform>
</plugin>
